.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-image: url('image/shooter.png');
    background-size: cover;
    border-radius: 1px;
}

.invader {
    background-image: url('image/invader.png');
    background-size: cover;
    border-radius: 1px;
}

.boom {
    background-color: red;
}

.laser {
    background-color: orange;
}